@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: var(--font-geist-sans), Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

/* Force l'héritage sur tous les éléments qui ne l'appliquent pas par défaut */
*,
::before,
::after {
  font-family: inherit;
}
